<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
    <div class = "jumbotron">
        <h1>&nbsp<%=title%></h1>
    </div>
    <p class="col-lg-1"><%=msg%></p>
    <a class="btn btn-default" href="/<%=back%>" role="button">Back</a>
</body>
</html>